body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    --font-alata: Alata;
  
    --font-size-xl: 20px;
    --font-size-base: 16px;
  
    --color-darkslategray: #353434;
    --color-sienna: #bd6636;
    --color-white: #fff;
  
    --gap-2xs: 11px;
    --gap-5xs: 8px;
  
    --padding-xl: 20px;
    --padding-85xl: 104px;
    --padding-26xl: 45px;
    --padding-3xl: 22px;
  
    --br-mini: 15px;
  }
  